NODE_ENV=development
PORT=3000
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=eventhub
DATABASE_USER=eventhub
DATABASE_PASSWORD=eventhub
JWT_ACCESS_SECRET=replace-with-at-least-32-characters
JWT_REFRESH_SECRET=replace-with-another-at-least-32-characters
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=7d
REDIS_HOST=localhost
REDIS_PORT=6379
MAIL_HOST=localhost
MAIL_PORT=1025
MAIL_FROM=no-reply@eventhub.local
APP_URL=http://localhost:3000
